<article>
  <p><strong><%= @article.title %></strong></p>
  <p><%= @article.summary %></p>
  <p><%= @article.body %></p>
</article>
<p><%= link_to "Powrót", articles_path , :class => "btn btn-primary" %></p>