/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./app
 */
.brand:hover{
  color: white !important;
}
article{
  margin-bottom: 30px;
}

.tags{
  margin-bottom: 5px;
}

.red { color: red;
       margin-bottom: 10px; }

.profil { font-size: large;
         font-weight: bold;
         text-shadow: 3px 3px 5px grey;
         margin-bottom: 10px; }

.ctitle { font-size: x-large;
         font-weight: bold;
         text-shadow: 3px 3px 5px grey; }

.css1 { font-size: 1.0em;
        text-shadow: 3px 3px 5px grey; }
.css2 { font-size: 1.2em;
        text-shadow: 3px 3px 5px grey; }
.css3 { font-size: 1.4em;
        text-shadow: 3px 3px 5px grey; }
.css4 { font-size: 1.6em;
        text-shadow: 3px 3px 5px grey; }
.css1:hover{
  color: rgb(25%,75%,75%);
  text-decoration: none;}
.css2:hover{
  color: rgb(25%,75%,75%);
  text-decoration: none;}
.css3:hover{
  color: rgb(25%,75%,75%);
  text-decoration: none;}
.css4:hover{
  color: rgb(25%,75%,75%);
  text-decoration: none;}